.app.light {
  --bg-color: #f7f7f7;
  --inverted-bg-color: #08085c;
  --primary-color: #6200ee;
  --inverted-primary-color: #e6e6e6;
  --secondary-color: #3700b3;
  --inverted-secondary-color: #d6d6d6;
}
